name: Cache Demo

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-fa3c3f9

      - name: prime-cache-fa3c3f9
        run: echo "Cache hit ${{ steps.cache-step.outputs.cache-hit }}"
